body {
    font-family: Arial, Helvetica, sans-serif;
    
}
/* Login */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logInForm{
    display: grid;
    justify-content: center;
    align-items: center;
}

#chooseRole{
    display: space-between;
    margin-left: 46%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    padding: 10px;
}

#email{
    width: 250px;
    height: 25px;
}

#password {
    height: 25px;
}

.studentRole {
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.adminRole {
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.logInButton {
    height: 25px;
    cursor: pointer;
}

/* homepage */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: rgb(207, 207, 207);
    font-size: 35px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}

#assignmentBtn{
    border-radius: 10px;
    height: 40px;
    background-color: rgba(246,77,1,1.0);
    border: 0px none #FF9902;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
}

.test {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 20px;
}

.fa-solid {
    cursor: pointer;
}

.commentAndFile {
    font-size: 25px;
}

#currentWeek{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    height: 40px;
    width: 50px;
    margin-left: 18px;
    padding: 5px;
}
